@tailwind base;
@tailwind components;
@tailwind utilities;


/* ============== LAYOUT ==============*/
.container {
    width: 80vw;
    margin: 0 auto;
}

/* ============== NAV MENU TOP ==============*/
.nav_bar {
    width: 100%;
    padding-top: 10px;
}

.nav_img,
.nav_logo {
    max-height: 32px;
    max-width: 32px;
    min-width: 24px;
    min-height: auto;
}

.nav_logo {
    filter: brightness(0) saturate(100%) invert(16%) sepia(84%) saturate(4258%) hue-rotate(342deg) brightness(84%) contrast(118%);
}

.nav_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

.nav_link {
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 500;
    transition: all .3s ease;
}

.nav_link.active {
    transition: all .3s ease-in;
    background-color: black;
    color: white;
}

/* ------------- Dropdown menu ------------- */


.nav_list li:hover .nav_dropdown {
    display: block;
    z-index: 5;
    background-color: #fff;
}

.nav_dropdown {
    position: absolute;
    display: none;
    width: 180px;
    height: auto;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px 2px rgba(233, 233, 233, 1);
}

.nav_dropdown li {
    margin-bottom: 8px;
    height: 35px;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: #fff;
    transition: all .1s ease;
}

.nav_dropdown li:hover {
    transition: all .1s ease-in;
    background-color: #e9e9e9;
}

.nav_dropdown li a {
    font-weight: 500;
}

/* ------------- search bar ------------- */
.search_box {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50px;
}

.input {
    border: 0;
    outline: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #333;
    background: #e9e9e9;
    padding: 10px 20px 10px 35px;
    border-radius: 30px;
    font-size: 18px;
}

.search_box_icon {
    position: absolute;
    top: 0;
    left: 5px;
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
}

/* ------------- icons nav bar ------------- */
.nav_icon {
    filter: invert(41%) sepia(0%) saturate(2116%) hue-rotate(16deg) brightness(86%) contrast(87%);
    position: relative;
}

.nav_icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 0;
    transform: scale(0.9);
}

.nav_icon:hover::before {
    opacity: 1;
    transform: scale(2);
}

.nav_icon:hover::after {
    opacity: 1;
    transform: scale(1);
    color: white;
    font-size: 12px;
    position: absolute;
    bottom: 100px;
    left: 5px;
}

/* =========================================*/


/* ============ NAV MENU BOTTOM ============*/
.menu_bottom {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    /* box-shadow: 0px 0px 3px 2px rgba(233, 233, 233, 1); */
    border: 1px solid lightgray;
    width: auto;
    height: 3rem;
    padding: 1.5rem 1.5rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem;
    transition: .4s;
    z-index: 10;
}

.nav_list_bottom {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}



.nav_icon_bottom {
    filter: invert(41%) sepia(0%) saturate(2116%) hue-rotate(16deg) brightness(86%) contrast(87%);
    max-height: 32px;
    max-width: 32px;
    min-height: 20px;
    min-width: 20px;
    transition: all .3s ease-in;
    user-select: none;
}

.nav_icon_bottom:hover {
    filter: brightness(0) saturate(100%)
}

.nav_img_icon_bottom {
    filter: none;
}

.nav_img_icon_bottom:hover {
    filter: none;
}

/* =========================================*/


/* ========= SECTION GRID PINTEREST ========*/
.container-grid {
    width: 100%;
    margin: 20px auto;
    columns: 5;
    column-gap: 20px;

    position: relative;

}

.container-grid .box {
    width: 100%;
    margin-bottom: 20px;
    break-inside: avoid;
    position: relative;
    overflow: hidden;
}

.container-grid .box img {
    max-width: 100%;
    border-radius: 10px;
}

/* detalles box */
.details {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    bottom: -600px;
    height: calc(100% - 40px);
    width: 100%;
    padding: 15px 15px;
    user-select: none;
}

.box:hover .details {
    bottom: 40px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
    cursor: zoom-in;
}

.details button {
    cursor: pointer;
    padding: 10px;
    background-color: #e9e9e9;
    border-radius: 50%;
    color: black;
    user-select: none;
}

.photographer {
    user-select: none;
    margin-top: 10px;
}

.photographer img {
    max-height: 32px;
    max-width: 32px;
    min-height: 20px;
    min-width: 20px;
}

@media (max-width: 1200px) {
    .container-grid {
        width: calc(100vw - 40px);
        columns: 3;
    }
}

@media (max-width: 768px) {
    .container-grid {
        width: calc(100vw - 40px);
        columns: 2;
    }
}

@media (max-width: 320px) {
    .container-grid {
        width: calc(100vw - 40px);
        columns: 1;
    }
}

/* button load more */

.load_more {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    margin: 30px 0 30px 0;
    bottom: -150px;
}

.btn {
    border-radius: 30px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: 500;
    transition: all .3s ease;

}

.btn.disabled {
    opacity: 0.6;
    pointer-events: none;
}

/* =========================================*/


/* ============== PREVIEW IMG ==============*/
.lightbox {
    position: fixed;
    display: none;
    z-index: 5;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.50);
}

.lightbox.show {
    display: block;
}

.wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    max-width: 850px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    transform: translate(-50%, -50%);
}

.buttons div {
    padding: 5px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 3px 2px rgba(233, 233, 233, 1);
    transition: all .3s ease-in;
    cursor: pointer;
}

.buttons div:hover {
    background-color: #e9e9e9;
}

.buttons svg {
    height: 18px;
    width: 18px;
}

.wrapper header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    order: 1;
    margin: 20px;
}

.preview_img {
    display: flex;
    justify-content: center;
}

.preview_img .img {
    max-height: 65vh;
    max-width: 90vw;
}

.preview_img .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}



/* =========================================*/